<div class="col-md-8">
      <div class="box-heading">
        <h3><i class="fa fa-users"></i>&nbsp;{{ text_support }}</h3>
      </div>
      <div class="box-contents">
        <div class="row">

          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="get support" style="width: 300px;" src="{{ thumb_get_support }}">
              <div class="caption">
                <h3>{{ text_support }}</h3>
               <p class="caption-text">{{ text_support_caption }}</p>
                <p><a href="{{ get_support }}" target="_blank" class="btn btn-lg btn-default">{{ button_support }}</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="get support" style="width: 300px;" src="{{ thumb_hire_us }}">
              <div class="caption">
                <h3>{{ text_hire_us }}</h3>
                <p class="caption-text">{{ text_hire_us_caption }}</p>
                <p><a href="{{ hire_us }}" target="_blank" class="btn btn-lg btn-default">{{ button_hire_us }}</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="get support" style="width: 300px;" src="{{ thumb_idea }}">
              <div class="caption">
                <h3>{{ text_idea }}</h3>
                <p class="caption-text">{{ text_idea_caption }}</p>
                <p><a href="{{ idea }}" target="_blank" class="btn btn-lg btn-default">{{ button_idea }}</a></p>
              </div>
            </div>
          </div>

          <div class="col-md-4">
            <div class="thumbnail">
              <img alt="get support" style="width: 300px;" src="{{ thumb_maintenance }}">
              <div class="caption" style="text-align:center;padding-top:0px;">
                <h3>{{ text_maintenance }}</h3>
                <p class="caption-text">{{ text_maintenance_caption }}</p>
                <p><a href="{{ maintenance }}" target="_blank" class="btn btn-lg btn-default">{{ button_maintenance }}</a></p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
  <style>
    .caption-text {
      height: 50px;
    }
    .thumbnail .caption {
    text-align: center;
padding-top: 0px;

}
  </style>